<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
      voluptates!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="block__featuretxt">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#easy"></use>
      </svg>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
        eaque tempore voluptatum nihil eveniet commodi numquam aut assumenda
        iste harum!
      </p>
      <a href="" class="link-arrow">Learn More</a>
    </div>
    <div class="block__featuresimg">
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy2x.jpg 2x"
        />
        <img src="images/easy2x.jpg" alt="" />
      </picture>
    </div>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="block__featuretxt">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#growth"></use>
      </svg>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
        eaque tempore voluptatum nihil eveniet commodi numquam aut assumenda
        iste harum!
      </p>
      <a href="" class="link-arrow">Learn More</a>
    </div>
    <div class="block__featuresimg">
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy2x.jpg 2x"
        />
        <img src="images/easy2x.jpg" alt="" />
      </picture>
    </div>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="block__featuretxt">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
      <h3 class="feature__heading">Wordpress</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus,
        eaque tempore voluptatum nihil eveniet commodi numquam aut assumenda
        iste harum!
      </p>
      <a href="" class="link-arrow">Learn More</a>
    </div>
    <div class="block__featuresimg">
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy2x.jpg 2x"
        />
        <img src="images/easy2x.jpg" alt="" />
      </picture>
    </div>
  </article>
</section>
