<section class="block block--dark block--showcase block--skewed-right">
  <h2 class="block__header">User-Friendly Control Panel</h2>
  <div class="container grid grid--1x2">
    <picture class="showcase__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img class="hero__image" src="images/ipad.png" alt="" />
    </picture>
    <div class="showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__showcaseheader">
            Easy start & Managed Updates
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            architecto culpa, quaerat vel ratione recusandae libero dicta
            necessitatibus blanditiis a!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__showcaseheader">
            Staging Git & WP-CL
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            architecto culpa, quaerat vel ratione recusandae libero dicta
            necessitatibus blanditiis a!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title block__showcaseheader">
            Dyanmic Coaching and More
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            architecto culpa, quaerat vel ratione recusandae libero dicta
            necessitatibus blanditiis a!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
